@model ServiciosAdicionales.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
}


<div class="card">
    <div class="card-header">
        Iniciar Sesion
    </div>
    <div class="card-body">
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="IGG" class="control-label"></label>
                <input asp-for="IGG" class="form-control" />
                <span asp-validation-for="IGG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label">Recordarme</label>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>
        </form>
         <div style="margin-top: 10px;">
            <a asp-action="Register">¿No tienes una cuenta? Regístrate</a>
        </div>
    </div>
   
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}