@{
    ViewData["Title"] = "Tus Servicios";
}

@model IEnumerable<ServiciosAdicionales.ViewModels.PedidoDeServicioViewModel>

<div class="text-center">
    <h1 class="display-4">Tus Servicios Adicionales</h1>

    <button type="button" class="btn btn-primary">Nuevo Pedido de Servicio</button>

    @if (Model.Any())
    {
        <div class="container text-center" style="margin-top:10px;">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th scope="col">ID</th>
                            <th scope="col">Fecha Solicitud</th>
                            <th scope="col">Fecha Finalizado</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var pedido in Model)
                        {
                            <tr>
                                <td>@pedido.Id</td>
                                <td>@pedido.FechaSolicitado</td>
                                <td>@pedido.FechaFinalizado</td>
                                <td>@pedido.Estado</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>No tienen pedidos de servicio registrados</p>
    }

    
</div>
